@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF7F2;
  --foreground: #0D0D0D;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
